// =====================================================
//
// container Style
//
// =====================================================

// body
// ================================== //
.l-body {

  padding-top: $header_height_sp;

  @include mq(sp, max, true) {
  }// @include mq(sp, max, true)
  @include mq(tab) {
  }// @include mq(tab)
  @include mq(pc) {

    padding-top: $header_height_pc;

  }// @include mq(pc)
  @include mq(wide) {
  }// @include mq(wide)
}// .l-body

// container
// ================================== //
.l-container {

  padding-top: $ct_gutter * 1.5;

  @include mq(sp, max, true) {
  }// @include mq(sp, max, true)
  @include mq(tab) {
  }// @include mq(tab)
  @include mq(pc) {
    padding-top: $ct_gutter * 2;
  }// @include mq(pc)
  @include mq(wide) {
  }// @include mq(wide)
}// .l-container


// wrapper
// ================================== //
.l-wrap {
  @include mq(sp, max, true) {
  }// @include mq(sp, max, true)
  @include mq(tab) {
  }// @include mq(tab)
  @include mq(pc) {
  }// @include mq(pc)
  @include mq(wide) {
  }// @include mq(wide)
}// .l-wrap


// inner
// ================================== //
.l-inner {

  max-width: $site_width;
  margin: 0 auto;

  @include mq(sp, max, true) {
  }// @include mq(sp, max, true)
  @include mq(tab) {
  }// @include mq(tab)
  @include mq(pc) {
  }// @include mq(pc)
  @include mq(wide) {
  }// @include mq(wide)
}// .l-inner


// content
// ================================== //
.l-content {

  padding-right: $ct_gutter * 2;
  padding-left: $ct_gutter * 2;

  @include mq(sp, max, true) {

    padding-right: $ct_gutter;
    padding-left: $ct_gutter;

  }// @include mq(sp, max, true)
  @include mq(tab) {
  }// @include mq(tab)
  @include mq(pc) {
  }// @include mq(pc)
  @include mq(wide) {
  }// @include mq(wide)

  &-small {
    padding-right: $ct_gutter * 2;
    padding-left: $ct_gutter * 2;

    @include mq(sp, max, true) {
      padding-right: $ct_gutter;
      padding-left: $ct_gutter;
    }// @include mq(sp, max, true)
    @include mq(tab) {
      .l-inner {
        max-width: $site_width / 2;
      }// .l-inner
    }// @include mq(tab)
    @include mq(pc) {
    }// @include mq(pc)
    @include mq(wide) {
    }// @include mq(wide)
  }// &-small
}// .l-content


// section
// ================================== //
.l-section {

  + .l-section {
    margin-top: $ct_gutter * 1.5;
  }// + .l-section

  @include mq(sp, max, true) {
  }// @include mq(sp, max, true)
  @include mq(tab) {

    + .l-section {
      margin-top: $ct_gutter * 2;
    }// + .l-section

  }// @include mq(tab)
  @include mq(pc) {

    + .l-section {
      margin-top: $ct_gutter * 2.5;
    }// + .l-section

  }// @include mq(pc)
  @include mq(wide) {
  }// @include mq(wide)
}// .l-section
