// =====================================================
//
// Footer Style
//
// =====================================================

// footer
// ================================== //
.l-footer {

  background-color: $color_white;
  border-top: 1px solid $color_gray;
  margin-top: $ct_gutter * 2;
  padding: $ct_gutter ($ct_gutter * 2);
  text-align: center;

  .fnav {
    display: flex;
    align-items: center;
    justify-content: center;
    &_item {
      &:not(:first-child) {
        margin-left: $ct_gutter;
      }// &:not(:first-child)
    }// &_item
    &_link {
      color: $font_color;
    }// &_link
  }// .fnav

  .copy {
    margin-top: $ct_gutter;
  }// .copy

  @include mq(sp, max, true) {

    padding-right: $ct_gutter;
    padding-left: $ct_gutter;

  }// @include mq(sp, max, true)
  @include mq(tab) {
    // margin-top: $ct_gutter * 4;
  }// @include mq(tab)
  @include mq(pc) {

    margin-top: $ct_gutter * 3;

    .copy {
      margin-top: $ct_gutter;
    }// .copy

  }// @include mq(pc)
  @include mq(wide) {
  }// @include mq(wide)
}// .l-footer
