// =====================================================
//
// Footer Style
//
// =====================================================

// footer
// ================================== //
.l-footer {

  background-color: $color_white;
  margin-top: $ct_gutter * 1.5;
  padding-right: $ct_gutter * 2;
  padding-left: $ct_gutter * 2;
  text-align: center;

  .copy {
    margin: $ct_gutter 0 ($ct_gutter * 1.5);
  }// .copy

  @include mq(sp, max, true) {

    padding-right: $ct_gutter;
    padding-left: $ct_gutter;

  }// @include mq(sp, max, true)
  @include mq(tab) {
    // margin-top: $ct_gutter * 4;
  }// @include mq(tab)
  @include mq(pc) {

    margin-top: $ct_gutter * 2;

    .copy {
      margin-top: $ct_gutter;
    }// .copy

  }// @include mq(pc)
  @include mq(wide) {
  }// @include mq(wide)
}// .l-footer
